<head>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1 class="">IBB Arena</h1>
<h1 id="timer">00:00.000</h1>
<div>
    <button  type="button" id="startmatch" class="btn-success">Start</button>
    <button  type="button" id="endmatch" class="btn-danger">Stop</button>
</div>

<div>
    <button type="button" id="pitup" class="btn-dark">Pit Up</button>
    <button type="button" id="pitdown" class="btn-dark">Pit Down</button>
    <button type="button" id="flipper" class="btn-warning">Flip</button>
</div>

<div>
    <button type="button" id="spinner1c" class="btn-info">Spinner 1 Clockwise</button>
    <button type="button" id="spinner1a" class="btn-primary">Spinner 1 Anti-Clockwise</button>
    <button type="button" id="spinner1off" class="btn-primary">Spinner 1 Off</button>
    <button type="button" id="spinner2c" class="btn-info">Spinner 2 Clockwise</button>
    <button type="button" id="spinner2a" class="btn-primary">Spinner 2 Anti-Clockwise</button>
    <button type="button" id="spinner2off" class="btn-primary">Spinner 2 Off</button>
    <button type="button" id="spinner3c" class="btn-info">Spinner 3 Clockwise</button>
    <button type="button" id="spinner3a" class="btn-primary">Spinner 3 Anti-Clockwise</button>
    <button type="button" id="spinner3off" class="btn-primary">Spinner 3 Off</button>
   
</div>
</body>

<script>
  $(function () {
      function makeAjaxRequest(url) {
          console.log("Button clicked for URL:", url);

          // Make an AJAX request
          $.ajax({
              type: "GET",
              url: url,
              success: function(data) {
                  console.log("Request successful:", data);
                  // You can handle the response data here if needed
              },
        
          });
      }

      // Attach click event handlers to buttons
      $("#spinner1c").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner1c");
      });
      $("#spinner1a").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner1a");
      });
      $("#spinner1off").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner1off");
      });
      $("#spinner2c").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner2c");
      });
      $("#spinner2a").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner2a");
      });
      $("#spinner2off").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner2off");
      });
      $("#spinner3c").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner3c");
      });
      $("#spinner31").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner3a");
      });
      $("#spinner3off").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/spinner3off");
      });
      $("#startmatch120").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/start120");
          startTimer(120);
      });
      $("#startmatch180").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/start180");
          startTimer(180);
      });
      $("#startmatchduck").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/startduck");
          startTimer(75);
      });
      $("#endmatch").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/stop");
          stopTimer();
      });
      $("#pitup").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/pitup");
      });
      $("#pitdown").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/pitdown");
      });
      $("#flipper").click(function () {
          makeAjaxRequest("http://192.168.80.1:8000/flipper");
      });


      // Add more buttons with different URLs as needed
  });
  var timerInterval; // Declare the timerInterval globally to access it in both functions

function startTimer() {
    def startTimer(length)
    var duration = length * 1000; // 3 minutes in milliseconds
    var timerDisplay = document.getElementById("timer");

    // Ensure that only one timer is running at a time
    clearInterval(timerInterval);

    timerInterval = setInterval(function() {
        var minutes = Math.floor(duration / (60 * 1000));
        var seconds = Math.floor((duration % (60 * 1000)) / 1000);
        var milliseconds = duration % 1000;

        // Display the timer in the format mm:ss.SSS
        timerDisplay.textContent = (minutes < 10 ? '0' : '') + minutes + ':' +
                                    (seconds < 10 ? '0' : '') + seconds + '.' +
                                    (milliseconds < 100 ? '0' : '') +
                                    (milliseconds < 10 ? '0' : '') + milliseconds;

        if (duration <= 0) {
            clearInterval(timerInterval);
            alert("Time's up!");
        }

        duration -= 10; // Decrease the duration by 10 milliseconds
    }, 10); // Update the timer every 10 milliseconds
}
    function stopTimer() {
        clearInterval(timerInterval);
        alert("Timer stopped!");
}
</script>



