[Unit]
Description=Appname
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/html/webapp
LimitNOFILE=4096
ExecStart=/usr/local/bin/flask --app app run --debug --host=0.0.0.0
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
